# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

services/venv
# PyInstaller output (if run from root)
build/
dist/
# PyInstaller output (if run from services/)
services/dist
services/build

out/

models/*
!models/.gitkeep

# Python 缓存文件
__pycache__/
*.pyc